/* *************************************************************** **
** * ©2020 Michael Baker (project@absolutelynot.moe) | AGPL v3.0 * **
** *************************************************************** */

*:not(li):not(ol):not(ul) {
    box-sizing: border-box;
    margin:  0;
    border:  0;
    padding: 0;
    overflow: visible;

    &:focus, div:focus {
        outline: none;
        box-shadow: inset 0px 4px 0px 0px adjust-color($standard-accent-shade, $alpha: -0.25);
    }

    &::-moz-focus-inner {
        margin:  0;
        border:  0;
        padding: 0;
    }
}