/* *************************************************************** **
** * ©2020 Michael Baker (project@absolutelynot.moe) | AGPL v3.0 * **
** *************************************************************** */
 
.panel {
    background-color: $panel-background;
    margin: 2px;
    padding: 2px;
    border-radius: $standard-border-radius;

    &.page-content {
        min-width: 96ch;
        max-width: 96ch;
    }

    > * {
        border: 2px solid $panel-background;
    }
}

.panel-content {
    background-color: $panel-content-background;
    margin: 6px;
    padding: 6px;
    border-radius: $standard-border-radius;
}

.group-horizontal {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    border-radius: $standard-border-radius;

    > * {
        height: 100%;
    }

    > *:first-child:last-child {
        border-radius: $standard-border-radius;
    }
    
    > *:not(:first-child):not(:last-child) { 
        border-radius: 0; 
    }

    > *:first-child:not(:last-child) { 
        border-radius: $standard-border-radius 0 0 $standard-border-radius; 
    }

    > *:last-child:not(:first-child)  {
        border-radius: 0 $standard-border-radius $standard-border-radius 0; 
    }
}

.group-vertical {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    border-radius: $standard-border-radius;

    > * {
        width: 100%;
    }

    input { 
        text-align: center; 
    }

    > *:first-child:last-child {
        border-radius: $standard-border-radius;
    }

    > *:not(:first-child):not(:last-child) { 
        border-radius: 0; 
    }

    > *:first-child:not(:last-child) { 
        border-radius: $standard-border-radius $standard-border-radius 0 0 ; 
    }

    > *:last-child:not(:first-child)  {
         border-radius: 0 0 $standard-border-radius $standard-border-radius; 
    }
}