/* *************************************************************** **
** * ©2020 Michael Baker (project@absolutelynot.moe) | AGPL v3.0 * **
** *************************************************************** */

$markdown-indent-size: 4ch;

.markdown {

    > *:not(section) {
        @extend .panel-content;
    }

    section > *:not(section) {
        @extend .panel-content;
    }

    h1 + section, h2 + section, h3 + section, 
    h4 + section, h5 + section, h6 + section  { 
        margin-left: $markdown-indent-size; 
    }

    p {
        text-align: justify;
    }

    ol, ul {
        margin-left: $markdown-indent-size !important;
        padding-left: $markdown-indent-size !important;
    }

    ol > li {
        margin: 0;
        padding: 0 0 0 0;
        text-indent: 1ch-$markdown-indent-size;
        list-style-type: none;
        counter-increment: item;
        font-style: italic;
    }

    ol > li:not(:first-child) {
        margin-top: 0.5em;
    }

    ol > li::before {
        display: inline-block;
        width: 1em;
        padding-right: 0.5em;
        font-weight: bold;
        text-align: right;
        color: $standard-accent-highlight;
        content: counter(item) ".";
    }

    @mixin grid-x($count) {
        display:grid; 
        grid-template-columns: repeat($count, 1fr); 
        grid-auto-rows:auto;
    }
    
    .grid-1 { @include grid-x(1); }
    .grid-2 { @include grid-x(2); }
    .grid-3 { @include grid-x(3); }
    .grid-4 { @include grid-x(4); }
    .grid-5 { @include grid-x(5); }
    .grid-6 { @include grid-x(6); }
    .grid-7 { @include grid-x(7); }
    .grid-8 { @include grid-x(8); }
    .grid-9 { @include grid-x(9); }
    
    @mixin col-x($count) {
        -webkit-columns: $count;
        -moz-columns: $count;
        column-count: $count;
    
        * {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
    
    .col-1 { @include col-x(1); }
    .col-2 { @include col-x(2); }
    .col-3 { @include col-x(3); }
    .col-4 { @include col-x(4); }
    .col-5 { @include col-x(5); }
    .col-6 { @include col-x(6); }
    .col-7 { @include col-x(7); }
    .col-8 { @include col-x(8); }
    .col-9 { @include col-x(9); }
    
    .max-width {
        width: 100%;
        * { width: 100%; }
    }

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        td, th {
            border: 1px solid $standard-accent-shadow;
        }
    }

    img {
        max-width: 100%;
    }

}