/* *************************************************************** **
** * ©2020 Michael Baker (project@absolutelynot.moe) | AGPL v3.0 * **
** *************************************************************** */

.page-header {
    grid-area: "content";

    display: grid;
    grid-template-columns: min-content 1fr;

    > .dropdown {
        min-width: 2em;
        height: 100%;

        > .button {
            width: 100%;
            height: 100%;
        }
    }
}