/* *************************************************************** **
** * ©2020 Michael Baker (project@absolutelynot.moe) | AGPL v3.0 * **
** *************************************************************** */

$standard-border-radius: 4px;
$standard-spacing:       4px;

$body-background-color: #111;

$standard-accent-subtle:    #EDF;
$standard-accent-tint:      #DBF;
$standard-accent-highlight: #A8F;
$standard-accent:           #84F;
$standard-accent-contrast:  #63A;
$standard-accent-shade:     #428;
$standard-accent-shadow:    #204;

$standard-accent-light-text: #000;
$standard-accent-dark-text:  #BBB;
$standard-accent-dark-text-emphasis:  #FFF;

$panel-background: #222;
$panel-content-background: #333;

$button-background-inactive: $standard-accent;
$button-background-hover:    $standard-accent-highlight;
$button-background-active:   $standard-accent-contrast;