<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, user-scalable=yes">
        <link rel="icon" href="/static/favicon.png"/>
        <title><%= title %></title>
    </head>
    <body>
    </body>
</html>